/*Style Sheet for Basic Portfolio pages*/

/*These properties define the entire page*/
body {
    background-color: lightgrey;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 150%;
    margin-left: 10%;
    margin-right: 10%;
    color: #777777;
    border-color: #dddddd;
  }

/*Has the background image and makes the main container*/
.content {
    width: 1160px;
    background-image: url("./../images/fresh_snow.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 70px);
    overflow: auto;
    clear: none;
  }

/*Contains properties for my Name*/
header {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    width: 1160px;
    text-align: center; 
    margin: inherit;   
  }

/*This is the actual box my name is in*/
h1 {
    padding: 20px 0;
    width: 240px;
    margin: inherit;
    font-size: 28px;
    color: #ffffff;
    background: #4aaaa5;
    margin-left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
/*Properties for other headers*/
h2 {
    padding: 8px;
    font-size: 24px;
    color: #4aaaa5;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #cccccc;
  }

p {
    text-indent: 30px;
    padding-top: 20px;
  
  }

#bio-image {
    width: 200px;
    height: 200px;
    margin-top: 5px;
    float: left;
    padding-right: 10px;
    padding-top: 20px;
  }
  
/*This styles the social links*/  
ul {
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px; 
    padding: 10px;
  }

/*You need this to make them line up horizontally*/
li {
    display: inline;
  }

/*Gives the social links a little cushion*/
li a {
    padding: 2px;
      }

/*Pushes the nav bar in a little from the right*/
nav {
    margin-right: 100px;
}

/*Most properties for the nav bar*/
nav a {
    margin: 0;
    text-decoration: none;
    padding: 10px;
    color: #777777;
    background-color: #ffffff;
    overflow: hidden;
    float: right;
    border: 0;
    margin-top: 10px;
  }

/*Place holder image properties for future projects*/
.gallery {
    display: block;
    margin: 10px;
    border: 2px solid #cccccc;
    float: left;
  }

/*The text in those project images*/
.desc {
  bottom: 25px;
  text-align: center;
}

/*Defines the the space for the large elements in the pages*/
.container {
  width: 610px;
  margin-top: 30px;
  overflow: auto;
  margin-left: 100px;
  background-color: #ffffff;
  padding: 20px;
  clear: none;
}

/*Contact info form*/
form {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  background-color:#ffffff;
  resize: none;
}

/*Where the big message is in the form*/
textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

/*Space for the user to write in*/
input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

/*Submit buttom properties*/
input[type=submit] {
  width: 150px;
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 10px;
  border: 2px solid #cccccc;
  cursor: pointer;
}

/*Container for the social links*/
#aside {
  float: right;
  width: 230px;
  height: 160px;
  padding: 20px;
  margin-top: 10px;
  margin-right: 100px;
  background: #ffffff;
  border: 2px solid #cccccc;
  text-align: center;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

input:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

footer {
  display: block;
  background: #666666;
  color: #777777;
  height: 20px;
  line-height: 50px;
  padding: 30px 0;
  text-align: center;
  border-top-style: solid;
  border-top-color: #4aaaa5;
  border-top-width: 8px;
  width: 1160px;
  font-size: 14px;
}